body{
    background-color: lightgray;
    font-family: "Arial";
}

.bandeau{
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 60px;
    padding: 10px;
    background-image: url("../image/title_background.jpg");
    /*background-color: gray;*/
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.titre{
    height: fit-content;
    color: white;
    border: black solid 1px;
    width: fit-content;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../image/title_background.jpg");
    font-size: 20px;
}