body{
    background-color: lightgray;
    font-family: "Arial";
}

.bandeau{
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 60px;
    padding: 10px;
    background-image: url("../image/title_background.jpg");
    /*background-color: gray;*/
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.titre{
    height: fit-content;
    color: white;
    border: black solid 1px;
    width: fit-content;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../image/title_background.jpg");
    font-size: 20px;
}

.banniere{
    height: 35px;
    justify-content: center;
    display: flex; /* Active Flexbox */
    gap: 50px; /* Espacement entre les divs */
    position: fixed; /* Position fixe par rapport à la fenêtre */
    bottom: 0; /* Ancre en bas de la fenêtre */
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    color: white;
    align-items: center; /* Centre les éléments verticalement */
}

.banniere a:link, a:visited, a:hover, a:active {
    color: inherit; /* Utilise la couleur du texte parent */
    text-decoration: none; /* Supprime le soulignement par défaut */
}

.boutonCentrer{
    display: flex;
    justify-content: center;
}