.box_connection{
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    border-style: solid;
    padding: 5px 20px;
    margin: auto;
    margin-top: 30vh;
}

body{
    background-image: url("../image/image_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.group-from{
    margin-bottom: 9px;
}